<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.aquamorph.frcmanager"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/appName"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"/>
        <activity
            android:name=".activities.Settings"/>
        <activity
            android:name=".activities.TeamSummary"/>
        <activity
            android:name=".activities.MatchBreakdown2019Activity"/>
        <activity
            android:name=".activities.MatchBreakdown2020Activity"/>
        <activity
            android:name=".activities.Setup"
            android:label="@string/appName"
            android:screenOrientation="portrait"
            android:theme="@style/Setup">
            <intent-filter>
                <action android:name="com.aquamorph.frcmanager.activities.Setup"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
